* {
  box-sizing: border-box;
}
/*
body {
  background-color: lightblue;
}*/

@media screen and (max-width: 600px) {
  body {
    background-color: pink;
  }
}
/*
#navbar {
  width: 30%;
  height: 100%;
}

.nav-link {
  display: block;
  padding: 8px 20px;
}*/

.navbar {
  display: flex;
  align-items: center;
  background-color: #2f4550ff;
  padding: 10px 20px;
  font-family: sans-serif;
  color:rgb(173, 185, 192)
}

.navLink {
  color: rgb(206, 226, 243);
  text-decoration: none;
  padding: 8px 12px;
  transition: background-color 0.3s ease, color 0.3s ease; 
  border-radius: 4px;
}

.navLink:hover {
  background-color: rgb(104, 169, 203);
}

h2 {
  padding: 5px;
  text-align: left;
}

.h2Doc {
    text-align: center;
    color: #2f4550ff;
    border-bottom: 1px solid #12415a;
}

.h2Left {
    text-align: left;
    color: #2f4550ff;
}

h3 {
  text-align: center;
  color:rgb(195, 233, 251);
}

ul, ol , p{
    text-align: left;
}