* {
  box-sizing: border-box;
}

h2 {
    text-align: center;
    color: #2f4550ff;
}

span {
  display: inline-block;
}

th, td {
    border-bottom: 2px solid #000000
}

tr[class="inStock"] {
  background-image: linear-gradient(rgb(179, 246, 179))
}

tr[class="onlineOnly"] {
  background-image: linear-gradient(lightblue)
}

tr[class="soldOut"] {
  background-image: linear-gradient(lightpink)
}

tr[class="soldOut"] span[class="status"] {
  font-weight: bold;
  border-radius: 1em;
  border: 2px solid #000000;
  background-image: linear-gradient(lightblue);
}

tr[class="inStock"] span[class="status"] {
  font-weight: bold;
  border-radius: 1em;
  border: 2px solid #000000;
  background-image: linear-gradient(rgb(179, 246, 179));
}

tr[class="soldOut"] span[class="status"] {
  font-weight: bold;
  border-radius: 1em;
  border: 2px solid #000000;
  background-image: linear-gradient(lightpink);
}

span[class^="rate"], span[class="status"] {
  box-sizing: border-box;
  height: 35px;
  width: 170px;
  padding: 5px;
  text-align: center;
}

span[class^="item"] {
  box-sizing: border-box;
  height: 35px;
  width: 200px;
  padding: 5px;
}

span[class^="rate"] > span {
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 50%;
  margin: 0 8px;
  height: 14px;
  width: 14px;
  background-color: white;
}

span[class~="one"] span:first-child {
  background-image: linear-gradient(navy, blue, lightblue);
}

span[class~="two"] span:first-child, span[class~="two"] span:nth-child(2) {
  background-image: linear-gradient(navy, blue, lightblue);
}

span[class~="three"] span {
  background-image: linear-gradient(navy, blue, lightblue);
}